@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

html {
    background: var(--dark-purple);
    width: 100vw;
    height: 100vh;
}

/* Variable for a color */
:root {
    --dark-purple: #282630;
    --medium-purple: #5C5889;
    --light-purple: #938ED4;
    
    --dark-red: #8C4242;
    --light-red: #D56161;

    /* --top-background: url('assets/cave.jpg'); */
}

body {
    font-family: "Odibee Sans", sans-serif;
    margin: 0;

    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, var(--dark-purple), var(--dark-purple), transparent), var(--top-background);
    background-size: cover;

    color: white;

    z-index: 0;

    overflow: hidden;
}

.container {
    width: 100vw;
    max-width: 40em;
    margin: auto;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 2;
}

#header {
    text-align: center;
    padding: 3em 0 1em 0;
    margin: 0 2em;

    flex: 0 0 auto;
}

#header-wrapper {
    /* So the subtitle can right align along the title */
    display: inline-block;
}

.header-main-menu .title {
    font-size: 4em;
    text-shadow: 0.075em 0.075em 0px var(--dark-purple);
}

.header-main-menu .subtitle {
    font-size: 2.5em;
    text-align: right;
    color: var(--light-purple);
    text-shadow: 0.1em 0.1em 0px var(--dark-purple);
}

.header-ingame .title {
    font-size: 1.5em;
    color: var(--light-purple);
    text-shadow: 0.075em 0.1em 0px var(--dark-purple);
}

.header-ingame .subtitle {
    font-size: 4em;
    text-shadow: 0.075em 0.075em 0px var(--dark-purple);
    color: white;
}

#content {
    font-size: 1.6em;
    padding: 1em 0;
    margin: 0 2em;
    flex: 1;
}

#button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    background-color: var(--dark-purple);
    color: white;
    padding: 0.5em 1em;
    border: 0.15em solid var(--medium-purple);
    border-radius: 0.5em;
    margin: 1em auto;
    cursor: pointer;
    font: inherit;
    transition: 0.1s all;
}

button#play {
    font-size: 1.5em;
}

button#continue {
    font-size: 1em;
}

button:hover {
    border-color: var(--light-purple);
    background-color: var(--medium-purple);
}

.textbox {
    background-color: var(--dark-purple);
    padding: 1em;
    border: 0.25em solid var(--medium-purple);
    border-radius: 0.5em;
    margin: 1em 0;
}

.textbox-red {
    border-color: var(--dark-red);
}

.text-red {
    color: var(--light-red);
}

.crystals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Default: all in 1 row */
    grid-column-gap: 0.25em;
    grid-row-gap: 1.5em;
    place-items: center;
}

@media (max-width: 50em) {
    .crystals {
        grid-template-columns: repeat(2, 1fr);
    }

    body {
        font-size: calc(0.5em + 0.5vw + 0.5vh);
    }

    img.crystal {
        width: 8em;
    }
}

.crystals .crystal {
    width: 5em;
    /* border: 0.25em solid var(--medium-purple); */
    cursor: pointer;
}

#footer {
    flex: 0 0 auto;

    font-size: 1.6em;
    padding: 2em 0;
    margin: 0 2em;
    background-color: var(--dark-purple);
    padding: 1em;
    border: 0.25em solid var(--medium-purple);
    border-radius: 0.5em 0.5em 0 0;
    border-bottom: none;

    display: flex;
    justify-content: space-between;
}

#footer img {
    width: 1.5em;
    cursor: pointer;
}

#footer img.hidden {
    display: none;
}